{% extends 'base.html.twig' %}
{% import 'macros.twig' as macros %}

{% block title %}Hello MainController!{% endblock %}

{% block navtitle %}My Lightings{% endblock %}

{% block panelContent %}
<div class="row">
    {{ macros.datatable(
        luminaires,
        ['address','serial','controller.name'],
        ['Address', 'Serial', 'Controller'],
        'table-sm')
    }}


</div>
{% endblock %}

{% block sideMenu %}
{{ parent() }}
{% endblock %}
