{% extends 'base.html.twig' %}

{% block title %}New Program{% endblock %}

{% block navtitle %}Create a new program{% endblock %}


{% block panelContent %}
<div>
    {% include 'setup/_form-program.html.twig' %}
</div>

{% endblock %}
