{% extends 'base.html.twig' %}
{% set colors = ["primary","secondary","success","danger","warning","info"] %}

{% block title %}New recipe{% endblock %}

{% block navtitle %}New recipe{% endblock %}

{% block panelContent %}
<div class="row">	

		{% include 'setup/_form-recipe.html.twig' %}

</div>
{% endblock %}
